# Task 1.1 - Fetch and Save Data
This script fetches historical data for selected financial assets and saves them as CSV files.

In [1]:
# Imports
import sys
sys.path.append("../src")  # so Python can find src/ modules
from data_fetch import fetch_asset_data

In [2]:
# setting up parameters
ASSETS = ["TSLA", "BND", "SPY"]
START = "2015-07-01"
END = "2025-07-31"

In [3]:
# Fetch and save data for each asset
for asset in ASSETS:
    df = fetch_asset_data(asset, START, END)
    display(df.head())

Fetching data for TSLA...

/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_fetch.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end, progress=False)

 Saved TSLA data to ../data/TSLA.csv

                 Open       High        Low      Close     Volume
Date
2015-07-01  18.073999  18.174667  17.856667  17.943333   31518000
2015-07-02  18.680000  18.830000  18.220667  18.667999  107458500
2015-07-06  18.591999  18.779333  18.420000  18.648001   61828500
2015-07-07  18.333332  18.346666  17.384666  17.858667   91576500
2015-07-08  17.288000  17.386667  16.954000  16.997334   93316500

Fetching data for BND...

/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_fetch.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end, progress=False)

 Saved BND data to ../data/BND.csv

                 Open       High        Low      Close   Volume
Date
2015-07-01  60.794202  60.914479  60.764131  60.816753  5399300
2015-07-02  60.937016  61.027228  60.937016  60.967087  1060100
2015-07-06  61.222676  61.222676  61.057289  61.177567  2210700
2015-07-07  61.410626  61.470762  61.237720  61.237720  4183200
2015-07-08  61.373032  61.463244  61.312890  61.410622  1967800

Fetching data for SPY...

/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_fetch.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end, progress=False)

 Saved SPY data to ../data/SPY.csv

                  Open        High         Low       Close     Volume
Date
2015-07-01  175.110979  175.363874  174.124701  174.917099  135979900
2015-07-02  175.397642  175.566234  174.335486  174.756973  104373700
2015-07-06  173.458790  175.043573  173.256472  174.259613  117975400
2015-07-07  174.461903  175.481894  172.059422  175.355453  173820200
2015-07-08  174.006657  174.293265  172.177405  172.413437  164020100