# Task 2: Develop Time Series Forecasting Models

In [1]:
# import libraries and and configurations
import sys, os
sys.path.append("../src")

import pandas as pd
import matplotlib.pyplot as plt
import importlib
import data_processing
import forecasting

#### Loading the data

In [2]:
# Load the data
df = pd.read_csv("../data/TSLA.csv", parse_dates=["Date"], index_col="Date")
# Display the first few rows of the dataframe
df.head()

                 Open       High        Low      Close     Volume
Date
2015-07-01  18.073999  18.174667  17.856667  17.943333   31518000
2015-07-02  18.680000  18.830000  18.220667  18.667999  107458500
2015-07-06  18.591999  18.779333  18.420000  18.648001   61828500
2015-07-07  18.333332  18.346666  17.384666  17.858667   91576500
2015-07-08  17.288000  17.386667  16.954000  16.997334   93316500

#### Preprocessing the data
- Fill missing values
- Normalize the data

In [9]:
importlib.reload(data_processing)
from data_processing import clean_and_normalize

In [11]:
clean_df = clean_and_normalize(df)
# Display the number of missing values in each column
missing_values = clean_df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_processing.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())
/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_processing.py:36: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())
/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_processing.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



/home/chalasimon/Documents/10academy/week 11/challenges/GMF-Time-Series-Forecasting-for-Portfolio-Optimization/notebooks/../src/data_processing.py:37: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

#### Splitting the data into training and testing sets

In [4]:
from forecasting import chronological_split